div.panel.panel-primary(ng-show="notificationsForm")

	.panel-heading
		h3.panel-title= __('Notifications')

	.panel-body
		.form-group
			.checkbox
				label #[input(name="notification" type="checkbox" ng-checked="configuration.notification" ng-model="configuration.notification")] #{__('Notification')}

		.form-group
			.checkbox
				label #[input(name="notification_by_email" type="checkbox" ng-checked="configuration.notification_by_email" ng-model="configuration.notification_by_email")] #{__('Notification by email')}

		button(type="submit" class="btn btn-primary" ng-click="editConfiguration()")= __('Send')