footer.footer(ng-controller="langController as langCtrl")
	.container
		p.text-muted= __('Choose your language')
		p &nbsp : &nbsp
		a(href="" ng-click="setCookie('mylanguage', 'en')")= __('English')
		p &nbsp / &nbsp
		a(href="" ng-click="setCookie('mylanguage', 'fr')")= __('French')