.panel.panel-primary(ng-controller="loodlesController as loodlesCtrl")
	.panel-heading
		h3.panel-title= __('Loodles')
	.panel-body(ng-show="loodles.length == 0")
		p= __('You currently have no loodles')

	ul.list-group
		li.list-group-item(ng-repeat="loodle in loodles") #{__('Name')} : {{loodle.name}} #[br] #{__('Description')} : {{loodle.description}} #[br] #[br]
			button(class="btn btn-primary" ng-click="access(loodle.id)")= __('Access')
			span &nbsp &nbsp
			button(class="btn btn-primary" ng-show="loodle.user_config.role == 'manager'" ng-click="delete(loodle.id)")= __('Delete')