nav.navbar.navbar-inverse
	.container-fluid
		.navbar-header
			a(class="navbar-brand" href="/") Loodle
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href="/loodle/{{loodle.id}}/schedule/add") Add schedule
				li
					a(href="/loodle/{{loodle.id}}/user/add") Add user
				li
					a(href="/loodle/{{loodle.id}}/schedule/delete") Delete schedule
				li
					a(href="/loodle/{{loodle.id}}/user/delete") Delete user
				li
					a(href="/loodle/{{loodle.id}}/configure") Configuration
			ul.nav.navbar-nav.navbar-right
				li
					a(href="/logout") Logout