div(ng-controller="notificationsController as notifsCtrl")
	button(class="btn btn-primary" ng-click="toggleShow()") #{__('Notifications')} &nbsp #[span.badge {{unreadNotif}}]

	ul.list-group(ng-show="show && notifications.length > 0")
		li.list-group-item(ng-repeat="notification in notifications") {{notification.user.first_name}} {{notification.user.last_name}} #{__('updated his/her vote(s) on ')} : {{notification.doodle.name}}
			br
			a(href="" ng-click="markAsRead(notification.id)" ng-hide="notification.is_read")= __('Mark as read')
br