nav.navbar.navbar-inverse
	.container-fluid
		.navbar-header
			a(class="navbar-brand" href="#")= __('Loodle')
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href="/login")= __('Login')
				li
					a(href="/sign-up")= __('Sign up')
				li
					a(href="/public-loodle")= __('Public loodle')
				