extends layout

block content
	div(ng-controller='loodleController as loodleCtrl')
		include partials/loodle-nav

		.container
			.jumbotron.center
				h1 {{loodle.name}}

				p {{loodle.description}}