extends layout

block content
	div(ng-controller='loodleController as loodleCtrl')
		include partials/loodle-nav

		.container
			.center
				
				form(action="" method="POST")

					.form-group
						label(for="email")= __('Email')
						input(type="text" name="email" class="form-control" placeholder="Email")

					button(type="submit" class="btn btn-primary")= __('Send')