extends layout

block content
	div(ng-controller='loodleController as loodleCtrl')
		include partials/loodle-nav

		.container
			.center

				form(action="" method="POST")

					.form-group
						div(class="input-group date" id="datetimepicker1")
							label(for="begin_time") Begin date
							input(name="begin_time" type="text" class="form-control" placeholder="begin date")
							span.input-group-addon
								span.glyphicon.glyphicon-calendar

					.form-group
						div(class="input-group date" id="datetimepicker2")
							label(for="end_time") End date
							input(name="end_time" type="text" class="form-control" placeholder="end date")
							span.input-group-addon
								span.glyphicon.glyphicon-calendar

					button(type="submit" class="btn btn-primary") Send

	script(type="text/javascript" src="/javascripts/jquery.js")
	script(type="text/javascript" src="/javascripts/moment.js")
	script(type="text/javascript" src="/javascripts/bootstrap/transition.js")
	script(type="text/javascript" src="/javascripts/bootstrap/collapse.js")
	script(type="text/javascript" src="/javascripts/bootstrap-datetimepicker.js")
	script(type="text/javascript" src="/javascripts/add-schedule.js")