extends layout

block content
	div(ng-controller='loodleController as loodleCtrl')
		include partials/loodle-nav

		.container(ng-controller='configurationController')

			.content

				.col-md-4

					ul.list-group
						li.list-group-item(ng-class="(notificationsForm) ? 'active' : ''" ng-click="showNotifications()")= __('Notifications')
						li.list-group-item(ng-class="(usersManagementForm) ? 'active' : ''" ng-show="configuration.role == 'manager'" ng-click="showUsersManagement()")= __('Users management')
						li.list-group-item(ng-class="(loodleStatusForm) ? 'active' : ''" ng-show="configuration.role == 'manager'" ng-click="showLoodleStatus()")= __('Loodle status')

				.col-md-8

					include partials/config-notifications

					include partials/config-users-management

					include partials/config-loodle-status
							