extends layout

block content
	div(ng-controller='loodleController as loodleCtrl')
		include partials/loodle-nav

		.container(ng-controller='configurationController as configCtrl')
			.center

				div(ng-hide="showUsersForm")

					button(type="button" class="btn btn-primary" ng-click="toggleForm()" ng-show="configuration.role == 'manager'") Users management

					.form-group
						.checkbox
							label #[input(name="notification" type="checkbox" ng-checked="configuration.notification" ng-model="configuration.notification")] #{__('Notification')}

					.form-group
						.checkbox
							label #[input(name="notification_by_email" type="checkbox" ng-checked="configuration.notification_by_email" ng-model="configuration.notification_by_email")] #{__('Notification by email')}

					button(type="submit" class="btn btn-primary" ng-click="editConfiguration()") Send

				div(ng-show="showUsersForm")

					.form-group(ng-repeat="user in users")
						{{user.first_name}} {{user.last_name}}
						.radio
							label #[input(type="radio" name="{{user.id}}" data="manager" ng-checked="user.role == 'manager'" class="radio-input")] Manager
						.radio
							label #[input(type="radio" name="{{user.id}}" data="user" ng-checked="user.role == 'user'" class="radio-input")] User

					button(type="button" class="btn btn-primary" ng-click="updateUserRoles()")= __('Send')
						