extends layout

block content
	div(ng-controller='loodleController as loodleCtrl')
		include partials/loodle-nav

		.container
			.center

				form(action="" method="POST")

					.form-group
						label(for="schedule_id") Choose a schedule to delete
						select(name="schedule_id" class="form-control")
							option(ng-repeat="schedule in loodle.schedules" value="{{schedule.id}}") {{schedule.begin_time.format('llll')}} - {{schedule.end_time.format('llll')}}

					button(type="submit" class="btn btn-primary") Send

