extends layout

block content
	include partials/nav

	.container(ng-controller="mainController")

		.row
			.col-md-8
				.panel.panel-primary
					.panel-heading
						h3.panel-title Loodles
					.panel-body
						list-loodles


			.col-md-4
				.panel.panel-warning
					.panel-heading
						h3.panel-title Participation requests
					.panel-body
						p Panel content

