extends layout

block content
	include partials/nav

	.container

		include partials/alert

		.row
			.col-md-8
				include partials/loodles
				
			.col-md-4
				include partials/participation-requests

	include partials/footer
				

