doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/javascripts/angular.js")
    script(src="/javascripts/app.js")
    
  body(ng-app="loodle")
    block content
