extends layout

block content
	div(ng-controller='loodleController as loodleCtrl')
		include partials/loodle-nav

		.container
			.center

				include partials/alert
				
				.jumbotron
					h1 {{loodle.name}}

					p {{loodle.description}}