extends layout

block content

	include partials/public-user-modal

	div(ng-controller='loodleController as loodleCtrl')
		include partials/loodle-nav

		.container
			.center

				include partials/alert
				
				.jumbotron
					h1 {{loodle.name}}

					p {{loodle.description}}

					button(ng-hide="loodle.category === 'public'" class="btn btn-primary" ng-click="openLoodleToPublic()") Open loodle to public

					table.table.table-striped.table-hover
						thead
							tr
								th #
								th(ng-repeat="month in months" colspan="{{month.nbSchedules}}") {{month.time.format('MMMM YYYY')}}
							tr
								th #
								th(ng-repeat="day in days" colspan="{{day.nbSchedules}}") {{day.time.format('dddd D')}}
							tr
								th #
								th(ng-repeat="hour in hours") {{hour.format('LT')}}
						tbody
							tr(ng-repeat="user in loodle.users")
								td {{user.first_name}} {{user.last_name}}

								td(ng-hide="edit && currentUser.id == user.id" ng-repeat="vote in user.votes" colspan="2")
									//{{vote.vote}}
									span(ng-class="vote.vote == 1 ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'")
								td(ng-show="edit && currentUser.id == user.id" ng-repeat="vote in user.votes" colspan="2")
									input(type="checkbox" ng-checked="vote.vote == 1" class="input-vote" data-id="{{vote.vote_id}}")

					button(ng-hide="edit || !currentUser" class="btn btn-primary" ng-click="edit=true") Edit votes
					button(ng-show="edit" class="btn btn-primary" ng-click="saveVotes()") Save votes
					br
					br
					button(type="button" ng-show="loodle.category === 'public' && !currentUser" class="btn btn-primary" data-toggle="modal" data-target="#myModal") Add public user

				include partials/invated-users

	script(src="https://code.jquery.com/jquery-2.1.4.js")
	script(src="/javascripts/bootstrap.js")