$background-color: #eee;

$white: #F3F3F5;
$dark-gray: #5A6071;
$gray: #ACB0BD;
$light-black: #3C4252;
$blue-gray: #667489;
$light-gray: #E0E3EF;

$blue: #41A9C2;
$blue-hover: #307283;
$blue-active: #4AC8E5;

$red: #FB5258;
$red-hover: #A73B3F;
$red-active: #FB6E73;

$green: #49BB4C;
$green-hover: #347E37;
$green-active: #5ACE5F;

$black: #2B303E;
$black-hover: #1E212B;
$black-active: #485064;